<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vasya.phototransition">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.vasya.phototransition.utils.GlideModuleQ"
            android:value="GlideModule" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PreLollipopActivity"
            android:theme="@style/DetailsTheme">
        </activity>

        <activity
            android:name=".activity.PreLollipopListActivity"
            android:theme="@style/DetailsTheme">
        </activity>

        <activity
            android:name=".activity.LollipopActivity"
            android:theme="@style/LollipopDetailsTheme">
        </activity>

        <activity
            android:name=".activity.ListLollipopActivity"
            android:theme="@style/LollipopDetailsTheme">
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity"/>

        </activity>

    </application>

</manifest>